<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Taco Cloud</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
	<h1>Design your Taco!</h1>
	<img th:src="@{/images/taco-cloud.png}" />

	<form method="POST" th:object="${design}">
		<div class="grid">
			<div class="ingredient-group" id="bases">
				<h3>Designate your base:</h3>
				<div th:each="ingredient : ${base}">
					<input name="ingredients" type="radio" th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT</span><br />
				</div>
			</div>
		</div>

		<div class="ingredient-group" id="breads">
			<h3>Pick your Bread:</h3>
			<div th:each="ingredient : ${bread}">
				<input name="ingredients" type="radio" th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT</span><br />
			</div>
		</div>

		<div class="ingredient-group" id="veggies">
			<h3>Pick your Veggies:</h3>
			<div th:each="ingredient : ${veggies}">
				<input name="ingredients" type="checkbox" th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT</span><br />
			</div>
		</div>

		<div class="ingredient-group" id="cheeses">
			<h3>Pick your Cheeses:</h3>
			<div th:each="ingredient : ${cheese}">
				<input name="ingredients" type="checkbox" th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT</span><br />
			</div>
		</div>

		<div class="ingredient-group" id="sauces">
			<h3>Pick your Sauces:</h3>
			<div th:each="ingredient : ${sauce}">
				<input name="ingredients" type="checkbox" th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT</span><br />
			</div>
		</div>

		<div>
			<h3>Name your taco creation:</h3>
			<input type="text" th:field="*{name}" /> <br />
			<button>Submit your taco</button>
		</div>
	</form>
</body>
</html>